<!DOCTYPE html>
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for category in categories%}
        <p><a href="{%url 'category' category.slug%}">{{category.name }}</a></p>
    {% endfor %}
<hr>
{% for post in post_list %}
    <h2><a href='{% url 'category' post.slug%}'>{{ post.name }}</a></h2>
    <p>{{ post.mini_text }}</p>
    <small>{{ post.created_date }}</small>
{% endfor %}

</body>
</html>