<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for category in categories%}
        <p><a href="{%url 'category' category.slug%}">{{category.name }}</a></p>
    {% endfor %}
<hr>
    <h2>>{{ post.title }}</h2>
    <small>Категория: {{ post.category }}</small>
    <h3><small>{{ post.subtitle }}</small></h3>
    <p>{{ post.mini_text }}</p>
    <small>{{ post.published_date }}</small>
    <small>{{ post.viewed }} просмотров</small>
    <h4><small>{{ post.tags }}</small></h4>

</body>
</html>