<!DOCTYPE html>
{% load blog_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% category_list %}
<hr>
    <h1>{{ post.title }}</h1>
    <h4>{{ post.subtitle }}</h4>
    <p>{{ post.mini_text }}</p>
    <p>{{ post.image }}</p>
    <p>{{ post.text|safe }}</p> {# safe is here safe is here safe is here safe is here #}
    <p>Категория - {{ post.category }}</p>

    Теги - {% for tag in post.get_tags %}
                {% if tag.published %}
                    <a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>,
                {% endif %}
            {% endfor %}
    <br>
    <small>Автор: {{ post.author }} - {{ post.published_date }}</small><br>
    <small>Просмотров: {{ post.viewed }}</small>
    <hr>
{{ user }}
<p><a href="{% provider_login_url "google" %}?next={{request.path}}"><img src={% static "images/google.png" %} width="30"
   height="30" alt="Пример"></a></p>
<p><a href="{% provider_login_url "facebook" method="oauth2" %}"><img src={% static "images/facebook.png" %} width="30"
   height="30" alt="Пример"></a></p>
<p><a href="{% provider_login_url "vk" %}"><img src={% static "images/vk.png" %} width="30"
   height="30" alt="Пример"></a></p>
    <h4>Комментарии</h4>
        {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
    {#            <textarea name="text" cols="25" rows="10"></textarea><br> - без формы#}
                <button type="submit">Отправить</button>
            </form>
        {% else %}
            <p>Чтобы оставить комментарий, войдите на сайт</p>
        {% endif %}
    <hr>
     {% for comment in post.comments.all %}
        Пользователь - {{ comment.author }}<br>
        {{ comment.text }} <br>
        Добавлен - {{ comment.created_date }}<br><br>
     {% endfor %}
</body>
</html>