<html>
{% load static %}
{% load i18n %}
<head>
    <title>Регистрация</title>
{#    <link rel="stylesheet" href="{% static "css/reg.css" %}">#}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

</head>

<body>

{#    <div class="reg-d-form">#}
{#        <h1 class="reg-h1">Регистрация</h1>#}
{##}
{#        <form class="signup" class="signup" id="signup_form" method="post" action="/accounts/signup/">#}
{#            {% csrf_token %}#}
{#            <p class=""><a class="text1-enter" href="/">на главную</a></p>#}
{#            <p><input class="reg-inut" type="email" name="email" placeholder="E-mail" autofocus="autofocus" required="" id="id_email"></p>#}
{#            <p><input class="reg-inut" type="text" name="username" placeholder="Имя пользователя"  minlength="4" maxlength="150" required="" id="id_username"></p>#}
{#            <p><input class="reg-inut" type="password" name="password1" placeholder="Пароль" required="" id="id_password1"></p>#}
{#            <p><input class="reg-inut" type="password" name="password2" placeholder="Повторите пароль" required="" id="id_password2"></p>#}
{##}
{#            <button class="reg-but" type="submit">Зарегистироваться</button>#}
{##}
{#    </div>#}
</body>

</html>